## Typical function (Standard form)

In [1]:
def double(x):
    return x * 2

In [2]:
double(2)

4

In [3]:
double(5)

10

In [7]:
type(double)

function

## Alternative lambda function (also called anonymous function)

In [4]:
dbl = lambda x : x * 2

In [5]:
dbl(2)

4

In [6]:
dbl(5)

10

In [9]:
type(dbl)

function

## Iterating over a list of functions

In [10]:
def add_one(x):
    return x + 1

def add_two(x):
    return x + 2

def add_three(x):
    return x + 3

In [11]:
for func in [add_one, add_two, add_three]:
    print(func(2))

3
4
5

## Iterating over a list of lambda functions

In [13]:
for func in [lambda x: x * 2, lambda x: x * 3, lambda x: x * 4]:
    print(func(2))

4
6
8

## Use case of lambda functions

In [15]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + y, numbers)

15

In [16]:
reduce(lambda x, y: x * y, numbers)

120

## Use case of lambda functions in pandas

In [17]:
import numpy as np
import pandas as pd

In [19]:
data = np.random.normal(0, 1, (10, 2))
df = pd.DataFrame(data, columns=["col_a", "col_b"])
df

      col_a     col_b
0 -1.377318 -0.814936
1  0.670941  2.126748
2 -1.469566 -1.738069
3 -0.457261  1.129895
4 -0.635546 -0.427536
5  0.020611 -0.584997
6  0.039880 -0.498462
7  0.226186 -0.277829
8  1.623750 -0.455474
9 -1.603214  0.604682

##### Selecting all the rows which have positive values in col_b variable

In [20]:
df.loc[lambda d: d["col_b"] >= 0]

      col_a     col_b
1  0.670941  2.126748
3 -0.457261  1.129895
9 -1.603214  0.604682